In [2]:
import pandas as pd

In [6]:
data = pd.read_csv('raw_data/split_data2.csv', sep='\t', lineterminator='\n')
data.head(4)

,Unnamed: 0,id,username,name,description,location,created_at,verified,protected,profile_image_url,followers_count,following_count,tweet_count,listed_count,account_type
0,12078,46749727,bimbasecas,Bimba Bosé,Cardo Borriquero,"Cádis, Espanha",2009-06-12T21:11:11.000Z,False,False,https://pbs.twimg.com/profile_images/209683056...,24447,424,2167,154,human
1,12079,2302498848,aguirrekaren12,KAREN,"22,",Houston,2014-01-21T04:42:16.000Z,False,False,https://pbs.twimg.com/profile_images/145542338...,543,305,25510,3,bot
2,12080,955504833154506753,FudgeLyons,Brandon Lyons,Software Engineer Currently @Microsoft\nSelf-t...,NYC,2018-01-22T18:17:59.000Z,False,False,https://pbs.twimg.com/profile_images/106501926...,932,459,3252,10,human
3,12081,346380340,brianjoliver31,Brian Oliver,2nd year Doctorate of Physical Therapy student...,"Madison, WI",2011-08-01T05:08:29.000Z,False,False,https://pbs.twimg.com/profile_images/838613777...,80,48,45,2,bot